services:
  django:
    stdin_open: true
    tty: true
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    image: travel-planner:latest
    container_name: travel-planner
    volumes:
      - ./app:/app
    ports:
      - "8000:8000"
